{
    "file_name": "java-latest.osm.pbf",
    "search_tag": [
        {
            "name": "train"
        },
        {
            "name":"railway"
        }
    ],
    "around_tag": [
        {
            "name": "building"
        },
        {
            "name": "amenity"
        }
    ],
    "range": 100,
    "database_config":{
        "username": "root",
        "password": "root",
        "host": "localhost",
        "port": "3306",
        "database_name":"railsearch"
    }
}